.Loading_wrap{
    height:100%;
    .ant-spin-text{
        letter-spacing:3px;
        color: #495060;
    }
    .ant-spin-dot i{
        background-color: #495060;
    }
    .ant-spin-blur{
        opacity:0;
    }
    .ant-spin-spinning{
        background-color: #fff;
    }
}

.rightMainContainer{
    position: relative;
    min-height: 600px;
    .pageLoadingMask{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        line-height: 600px;
        text-align: center;
        z-index: 1
    }
}